name: Backend CI Pipeline

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
  pull_request:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        run: |
          cd backend
          npm ci

      - name: Run ESLint
        run: |
          cd backend
          npx eslint .

      - name: Run Tests
        run: |
          cd backend
          npm test

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t ayushrusia21/backend-service:latest ./backend
          docker tag ayushrusia21/backend-service:latest ayushrusia21/backend-service:${{ github.sha }}
     
      - name: Scan Docker Image with Trivy
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: ayushrusia21/backend-service:latest
          format: table
          exit-code: 1
          ignore-unfixed: true
          severity: CRITICAL,HIGH

      - name: Push Docker Image
        run: |
          docker push ayushrusia21/backend-service:latest
          docker push ayushrusia21/backend-service:${{ github.sha }}
